//--------------------------------------------------------------
// Archive
//--------------------------------------------------------------
.archive {

	.loop-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	// Post.
	.loop-single-post {
		display: inline-block;
		font-size: 0;
		margin-bottom: 0;
		position: relative;
		width: calc((100% / 2) - 15px );
		z-index: 1;

		@include media($tablet-portrait) {
			margin-bottom: 0;
			width: calc((100% / 3) - 15px );
		}

		.feat-img-wrapper {
			position: relative;

			// Overlay.
			&:after {
				@include position(absolute, 0 0 null null);
				@include size(100% 100%);

				background-color: rgba($void, 0.35);
				content: "";
				z-index: 2;
			} // &:after
		}

		// Last post in list.
		&:last-of-type {

			@include media($tablet-portrait) {
				margin-bottom: 0;
			}
		} // &:last-of-type


		// Post text info.
		.single-post-title,
		.entry-meta {
			z-index: 10;
		} // .single-post-title, .post-categories, .entry-meta

		// Title.
		.single-post-title {
			font-weight: 400;
			margin: 0;

			a {
				color: $color-white;
			} // a
		} // .single-post-title

		// Title, excerpt (optional) + meta data.
		.post-info {
			@include position(absolute, 50% null null 50%);

			font-size: 14px;
			width: 90%;
			transform: translate(-50%, -50%);
			z-index: 10;
		} // .post-info

		// Date.
		.entry-date {
			color: $color-white;
			display: block;
			letter-spacing: 1.2px;
			margin-bottom: 10px;
			text-transform: uppercase;

			p {
				display: inline-block;
				margin: 0;
			} // p
		} // .entry-meta
	}
} // .archive
