//--------------------------------------------------------------Card/Entry Content
//--------------------------------------------------------------
// Meta-data.
.entry-date {
	color: rgba($color-black, 0.6);
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;

	p {
		display: inline-block;
		margin: 0 12px 0 0;
	}
}

.meta-data {
	margin-top: $gutter;
}

.posted-on {
	display: inline-block;
	margin: 0;
}

.meta-content {
	display: inline-block;
}
