//--------------------------------------------------------------
// Site Content
//--------------------------------------------------------------

// Posts and pages
.entry-title {
	font-size: 36px;
	margin: 0;
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 24px 0;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 24px 0 0;
}

.entry-content {

	.home & {
		margin-top: $gutter;
	}

	p:last-of-type {
		margin-bottom: 0;
	}
}

.page-links {
	clear: both;
	margin: 0 0 24px 0;
}

.edit-link {
	display: block;
	margin: 0 24px 0 0;
}

// Asides
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

// Meta-data.
.entry-date {
	color: rgba($color-black, 0.6);
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;

	p {
		display: inline-block;
		margin: 0 12px 0 0;
	}
}

.meta-data {
	margin-top: $gutter;
}

.posted-on {
	display: inline-block;
	margin: 0;
}

.meta-content {
	display: inline-block;
}

.entry-footer {
	padding-top: $gutter * 2;
	text-align: center;

	&:before {
		@include size(10% 3px);

		background: linear-gradient(18deg, $void 10%, $violet 55%, $turq 85%);
		content: "";
		display: inline-block;
		margin: $gutter 0;
	}  // &:before

	.cat-links {
		display: block;
		padding-bottom: $gutter / 2;

		a {
			background-image: linear-gradient(to bottom, transparent 0, rgba($turq, 0.3) 0);
			background-position: 0 16px;
			background-repeat: no-repeat;
			color: $void;
			text-decoration: none;
			transition: background-position 0.08s ease-out;

			&:hover,
			&:focus,
			&:active {
			    background-image: linear-gradient(transparent 0%, rgba($turq, 0.3) 0%);
				background-position: 0;
				height: 15px;
			}
		} // a
	} // .cat-links

	.tags-links {
		display: block;

		a {
			background-image: linear-gradient(to bottom, transparent 0, rgba($violet, 0.3) 0);
			background-position: 0 24px;
			background-repeat: no-repeat;
			color: $void;
			font-style: italic;
			text-decoration: none;
			transition: background-position 0.1s ease-out;

			&:hover,
			&:focus,
			&:active {
				background-image: linear-gradient(transparent 0%, rgba($violet, 0.3) 0%);
				background-position: 0;
			}
		}
	} // .tags-links
} // .entry-footer
