//--------------------------------------------------------------
// Footer
//--------------------------------------------------------------
.site-footer {

	@include media($tablet-landscape) {
		padding-left: calc(#{$header} + 4%);
	}
}

.site-info {

	.heart {
		color: $violet;
	}

	.dev-info {
		display: inline-block;
		margin-right: $gutter;
	}

	.dev-link {
		background-image: linear-gradient(to bottom, transparent 0, rgba($violet, 0.3) 0);
		background-position: 0 24px;
		background-repeat: no-repeat;
		color: $void;
		text-decoration: none;
		transition: background-position 0.1s ease-out;

		&:hover,
		&:focus,
		&:active {
		    background-image: linear-gradient(transparent 0%, rgba($violet, 0.3) 0%);
			background-position: 0;
		}
	}
} // .site-info
