//--------------------------------------------------------------
// Header
//--------------------------------------------------------------

.site-title {
	font-size: 30px;
	margin-bottom: 0;
	position: relative;
	text-align: center;
	z-index: 3;

	a,
	a:visited {
		color: $color-white;
		text-decoration: none;
	}
} // .site-title

.site-description {
	font-size: 24px;
	margin: 0 0 24px;
}

.site-header {
	background-size: cover;
	box-sizing: border-box;
	position: relative;
	z-index: 1;

	@include media($tablet-landscape) {
		@include size(25% 100%);
		@include position(fixed, 0 null null 0);

		background-color: $color-white;
		padding: 0 2 * $gutter;
		z-index: 1;
	}

	// Gradient overlay.
	&:after {
		@include position(absolute, 0 0 null null);
		@include size(100% 100%);

		background-color: $turq;
		background-image: linear-gradient(18deg, $violet 0%, $turq 100%);
		content: "";
		display: block;
		opacity: 0.3;
		z-index: 2;

		@include media($tablet-landscape) {
			background-image: linear-gradient(18deg, $turq 0%, $violet 100%);
		}
	} // gradient overlay
} // .site-header
