//--------------------------------------------------------------
// Icons
//--------------------------------------------------------------

.social-networks {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: $gutter 0 0;
	position: relative;
	width: 100%;
	z-index: 3;

	li {
		display: inline-block;
		font-size: 20px;

		&:not(:last-of-type) {
			margin-right: $gutter * 2;
		}

		svg {
			@include size(24px);

			fill: $color-white;
		}
	}
} // .social-networks
