//--------------------------------------------------------------
// Navigation
//--------------------------------------------------------------

// Links

a {
	color: $color-link;
	text-decoration: none;
	transition: color 0.25s linear;

	&:visited {
		color: $color-link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
	}

	// Links inside entry-content.
	.entry-content & {
		background-image: linear-gradient(to bottom, transparent 0, rgba($turq, 0.3) 0);
		background-position: 0 16px;
		background-repeat: no-repeat;
		color: $void;
		text-decoration: none;
		transition: background-position 0.08s ease-out;

		&:hover,
		&:focus,
		&:active {
		    background-image: linear-gradient(transparent 0%, rgba($turq, 0.3) 0%);
			background-position: 0;
			height: 15px;
		}
	}

	.main-navigation & {
		color: $color-white;
	}
} // a

// Default menu (active after a fresh WordPress install)

.menu {
	@include list-reset;

	li {
		margin: 0 10px 0 0;
	}

	ul {
		@include list-reset;
	}

	&.menu-horizontal {

		li {
			display: inline-block;
		}
	}

	&.menu-vertical {

		li {
			margin: 0;
		}

		a {
			border-bottom: 1px solid $color-background-hr;
			padding: 10px;
		}
	}

	&.dropdown {

		// Sub-menu
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			left: -999px;
			position: absolute;
			top: 24px;
			z-index: 99999;

			// Sub-sub menu
			ul {
				left: -999px;
				top: 0;
			}

			// Sub-menu items
			li {

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			// Sub-menu links
			a {
				@include size(200px auto);
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		// Display sub-menu on hover
		li:hover > ul,
		li.focus > ul {
			left: auto;
		}

		// Menu items
		li {
			float: left;
			position: relative;

			&:hover > a,
			&.focus > a {
			}
		}
	}

	// Menu hyperlinks
	a {
		display: block;
		text-decoration: none;
	}

	// Current items
	.current_page_item a,
	.current-menu-item a {
	}
}

// Main navigation (after creating a menu in the dashboard)
.main-navigation {
	@include size(100% auto);

	clear: both;
	display: none;
	float: left;
	z-index: 3;

	@include media($tablet-landscape) {
		display: block;
	}

	// Menu area
	ul {
		display: none;

		@include media($phone-landscape) {
			display: block;
		}
	}

	&.toggled ul {
		display: block;
	}
}

// Small menu
.menu-toggle {
	display: block;

	@include media($phone-landscape) {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 24px 0;
		overflow: hidden;
	}

	& .nav-previous {
		@include size(50% auto);

		float: left;
	}

	& .nav-next {
		@include size(50% auto);

		float: right;
		text-align: right;
	}
}
