//--------------------------------------------------------------
// Navigation
//--------------------------------------------------------------

// Links

a {
	color: $color-link;
	text-decoration: none;
	transition: color 0.25s linear;

	&:visited {
		color: $color-link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
	}

	// Links inside entry-content.
	.entry-content & {
		background-image: linear-gradient(to bottom, transparent 0, rgba($turq, 0.3) 0);
		background-position: 0 16px;
		background-repeat: no-repeat;
		color: $void;
		text-decoration: none;
		transition: background-position 0.08s ease-out;

		&:hover,
		&:focus,
		&:active {
		    background-image: linear-gradient(transparent 0%, rgba($turq, 0.3) 0%);
			background-position: 0;
			height: 15px;
		}
	}

	.main-navigation & {
		color: $color-white;
	}
} // a

// Default menu (active after a fresh WordPress install)
.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		margin: 0 10px 0 0;
	}

	ul {
		@include list-reset;
	}

	&.menu-horizontal {

		li {
			display: inline-block;
		}
	}

	&.menu-vertical {

		li {
			margin: 0;
		}

		a {
			padding: 10px;

			@include media($tablet-landscape) {
				border-bottom: 1px solid $color-background-hr;
			}
		}
	}

	// Menu hyperlinks
	a {
		display: block;
		text-decoration: none;
	}

	// Current items
	.current_page_item a,
	.current-menu-item a {
	}
}

// Main navigation (after creating a menu in the dashboard)
.main-navigation {
	padding: 0 0 $gutter;
	z-index: 3;

	@include media($tablet-landscape) {
		display: block;
		padding: $gutter * 3 0;
	}

	// Menu area
	ul {
		display: flex;
		justify-content: space-evenly;

		@include media($tablet-landscape) {
			display: block;
			text-align: center;
		}
	}
} // .main-navigation

// Small menu
.menu-toggle {
	display: block;

	@include media($phone-landscape) {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 24px 0;
		overflow: hidden;
	}

	& .nav-previous {
		@include size(50% auto);

		float: left;
	}

	& .nav-next {
		@include size(50% auto);

		float: right;
		text-align: right;
	}
}

// Nav links.
.nav-links {
	display: flex;
	margin-bottom: $gutter * 2;
	width: 100%;

	.nav-previous,
	.nav-next {
		@include size(50% auto);

		&:hover {

			a:after,
			a:before {
				color: $fuchsia;
			}
		} // &:hover

		a {
			vertical-align: middle;

			// Chevrons.
			&:after,
			&:before {
				color: $void;
				display: inline-block;
				font-family: FontAwesome;
				line-height: 1;
				transition: color 0.25s ease-in-out;
			}
		}
	} // .nav-previous, .nav-next

	// Next Chevron.
	.nav-next {
		text-align: right;

		a:after {
			content: "\f054";
			margin-left: $gutter;
		} // &:after
	} // .nav-next

	// Previous Chevron.
	.nav-previous {

		a:before {
			content: "\f053";
			margin-right: $gutter;
		}
	} // .nav-previous

	// Previous/Next Post prefix.
	.pre-title,
	.pre-title a {
		color: rgba($void, 0.75);
		display: inline-block;
		font-size: 22px;
		height: 100%;
		line-height: 1.3;
		margin: 0;

		// Actual name of post.
		.title {
			color: $void;
			display: block;
		}
	} // .pre-title
} //.nav-links
