//--------------------------------------------------------------
// Base Layout
//--------------------------------------------------------------

// Structure

.wrap {
	margin: 0 auto;
	max-width: 1400px;

	padding: 0 2 * $gutter;

	@include media($desktop) {
		padding: 0;
	}

	.site-header & {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: flex-end;
	}
} // .wrap

.site-header,
.site-footer {

	@include media($tablet-landscape) {
		padding: 0 2 * $gutter;
	}
}

.site-content {
	margin: 20px auto;
	overflow: hidden;
	position: relative;

	@include media($tablet-landscape) {
		padding-left: calc(#{$header} + 4%);
	}

	@include media($desktop) {
		margin: 20px auto;
	}
} // .site-content

.primary {

	@include media($tablet-landscape) {
		max-width: calc(100% - 100px);
	}

	.single & {

		@include media($tablet-landscape) {
			max-width: calc(100% - 100px);
		}
	}
}

.secondary {

	@include media($tablet-landscape) {
		max-width: calc(100% - 75px);
	}
}
