//--------------------------------------------------------------
// Homepage Template
//--------------------------------------------------------------
.recent-post-container {

	// Gradient line.
	&:after {
		@include size(10% 3px);

		background: linear-gradient(18deg, $void 10%, $violet 55%, $turq 85%);
		content: "";
		display: block;
		margin: 0 auto $gutter * 3;
	}  // &:after

	// Reset margins.
	.hentry,
	.single-post-title,
	p {
		margin: 0;
	}

	// Post.
	article {
		display: flex;
		justify-content: space-between;
		padding: 0 0 16px;

		&:not(:first-of-type) {
			padding: 16px 0;
		}

		&:nth-of-type(2) {
			border-bottom: 0.1rem solid rgba($color-black, 0.15);
			border-top: 0.1rem solid rgba($color-black, 0.15);
		}
	}

	// Title + excerpt (optional).
	.post-info {
		flex: 1;
		max-width: 75%;
	}

	// Meta-data.
	.entry-date {
		color: rgba($color-black, 0.6);
		font-size: 15px;
		font-weight: 600;
		text-transform: uppercase;

		p {
			display: inline-block;
			margin: 0 12px 0 0;
		}
	}
} // recent-post-container
