//--------------------------------------------------------------
// HTML Elements
//--------------------------------------------------------------

// Iframes

embed,
iframe,
object {
	max-width: 100%;
}

hr {
	@include size(auto 1px);

	background-color: $color-background-hr;
	border: 0;
	margin: 0 0 24px 0;
}

figure {
	margin: 0;
}

// Lists

ul,
ol {
	margin: 0 0 28px 24px;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin: 0 0 0 24px;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 24px 24px 0;
}

// Tables.
table {
	@include size(100% auto);

	border: 1px solid $void;
	margin: 0 0 24px;
}

tr {
	border-bottom: 1px solid $void;
}

th {
	background: $void;
	color: $color-white;
	font-weight: 700;
}

td,
th {
	padding: 4px 10px;
}


table tr:nth-child(even) {
    background-color: $color-alto;
}
